<div class="screen">
  <header>
    <div class="row back-container">
      <a [routerLink]="['/']" class="back-btn">
        <img src="../../assets/images/arrow-white.svg" alt="">
        Indietro
      </a>
      <div class="row dot-logo-container">
        <div class="dot-logo"></div>
        <span>dot.</span>
      </div>
    </div>
  </header>
  <main class="chat-container">
    <div [ngStyle]="{'padding': '20px 10px'}">
      <ng-container *ngIf="assistantService.sessionId; else loading">
        <div *ngFor="let message of messages$ | async">
          <div class="column" [ngClass]="message.direction === 'RECEIVED' ? 'dot' : 'user'">
            <span [ngClass]="message.direction === 'RECEIVED' ? 'dot-chat' : 'user-chat'">{{message.sender}}</span>
            <div [ngClass]="message.direction === 'RECEIVED' ? 'dot-chat-container' : 'user-chat-container'" class="dot-chat-container column">
              <p>{{message.text}}</p>
              <span>{{message.createdAt | date:'shortTime'}}</span>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #loading>
        <div class="loader-container">
          <div class="loader">
            <div class="dot-loader-circle"></div>
            <div class="dot-loader"></div>
          </div>
          <p>caricamento</p>
        </div>
      </ng-template>
    </div>
      <div class="listening-animation" *ngIf="listening$ | async as listening" >
        <div class="loader-container">
          <div class="loader">
            <div class="dot-loader-circle"></div>
            <div class="dot-loader"></div>
          </div>
          <p>In ascolto...</p>
        </div>
    </div>
  </main>
  <section class="input-area row">
    <form (ngSubmit)="submit()" class="row">
      <input type="text" placeholder="Scrivi qui" [formControl]="textMessage">
      <button class="btn-submit" type="submit" *ngIf="(textMessage.value?? '').length > 0">
        <img src="../../assets/images/send.svg" alt="icone invia messagio">
      </button>
    </form>
    <button class="icon-container" (click)="startVoiceRecognition()">
      <img src="../../assets/images/microphone-white.svg" alt="icone microfono" class="icon">
    </button>
  </section>
</div>
