<div class="screen">
  <header>
    <div class="row back-container">
      <a [routerLink]="['/']" class="back-btn">
        <img src="../../assets/images/arrow-white.svg" alt="">
        Indientro
      </a>
      <div class="row dot-logo-container">
        <div class="dot-logo"></div>
        <span>dot.</span>
      </div>

    </div>
  </header>
  <main class="chat-container">
    <ng-container *ngIf="assistantService.sessionId; else loading">
      <div *ngFor="let message of messages">
        <div class="column" [ngClass]="message.sender === 'Dot' ? 'dot' : 'user'">
          <span [ngClass]="message.sender === 'Dot' ? 'dot-chat' : 'user-chat'">{{message.sender}}</span>
          <div [ngClass]="message.sender === 'Dot' ? 'dot-chat-container' : 'user-chat-container'" class="dot-chat-container column">
            <p>{{message.text}}</p>
            <span>{{message.createdAt | date:'shortTime'}}</span>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="loader-container">
        <div class="loader">
          <div class="dot-loader-circle"></div>
          <div class="dot-loader"></div>
        </div>
        <p>caricamento</p>
      </div>
    </ng-template>
  </main>
  <section class="input-area row">
    <input type="text" placeholder="Scrivi qui">
    <button class="icon-container" (mousedown)="startRecord()"
    (mouseup)="stopRecord()">
      <img src="../../assets/images/microphone-white.svg" alt="icone microfono" class="icon">
    </button>
  </section>
</div>
