<div class="screen">
  <main>
    <div class="home">
      <div class="account-container">
        <section class="help-container">
          <div class="column"><img src="../../assets/images/search.svg" alt="icone search">Cerca</div>
          <a class="column" href=""><img src="../../assets/images/help.svg" alt="icone aiuto">Aiuto</a>
        </section>
        <h1>Conti</h1>
        <div class="card-container">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="column">
                  <span class="card-account">Conto Famiglia</span>
                  <span class="card-name">Cointestato con: Marco</span>
                </div>
                <img src="../../assets/images/star.svg" alt="">
              </div>
              <div class="row">
                <span class="card-amount"><strong>10.000</strong>,00 €</span>
                <img src="../../assets/images/eye.svg" alt="">
              </div>
              <span class="card-detail">Detaggli</span>

            </div>
            <div class="row iban-container">
              <span class="card-iban">IT03L1234512345123456789012</span>
              <img src="../../assets/images/share.svg" alt="Condividi">
            </div>
            <div class="card-footer">
              <span>smart money</span>
              <span>505,00 €</span>
            </div>
          </div>
        </div>
      </div>
      <div class="operations-container">
        <div class="operations-header row">
          <div>
            <h2>Operazioni</h2>
          </div>
          <span class="see-all">Visualizza tutte</span>
        </div>
        <div class="operations-body">
          <div class="row operations-row">
            <img src="../../assets/images/receive.svg" alt="icone bonifico ricevuto" class="operations-icon">
            <div class="column operation-description">
              <span class="operation-date">OGGI</span>
              <span class="operation-detail">Bonifico disposto da: EMI...</span>
              <div class="operation-account">
                <img src="../../assets/images/account.svg" alt="">
                <span>Conto familia</span>
              </div>
            </div>
            <div class="operation-amount">
              <span><b>+120,00</b>€</span>
            </div>
          </div>
          <div class="row operations-row">
            <img src="../../assets/images/receive.svg" alt="icone bonifico ricevuto" class="operations-icon">
            <div class="column operation-description">
              <span class="operation-date">OGGI</span>
              <span class="operation-detail">Bonifico disposto da: EMI...</span>
            </div>
            <div class="operation-amount">
              <span><b>+150,00</b>€</span>
            </div>
          </div>
          <div class="row operations-row">
            <img src="../../assets/images/receive.svg" alt="icone bonifico ricevuto" class="operations-icon">
            <div class="column operation-description">
              <span class="operation-date">IERI</span>
              <span class="operation-detail">Bonifico disposto da: EMI...</span>
            </div>
            <div class="operation-amount">
              <span><b>+10,00</b>€</span>
            </div>
          </div>
          <div class="row operations-row">
            <img src="../../assets/images/receive.svg" alt="icone bonifico ricevuto" class="operations-icon">
            <div class="column operation-description">
              <span class="operation-date">OGGI</span>
              <span class="operation-detail">Bonifico disposto da: EMI...</span>
            </div>
            <div class="operation-amount">
              <span><b>+190,00</b>€</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="fab column" href="" id="dot-link">
      <img src="../../assets/images/microphone-white.svg" alt="Dot assistant" id="dot-img">
      DOT
    </a>
  </main>
  <nav class="bottom-bar">
    <ul class="row">
      <li>
        <div class="column">
          <img src="../../assets/images/account-green.svg" alt="Conti">
          <span style="color: #258900">Conti</span>
        </div>
      </li>
      <li>
        <div class="column">
          <img src="../../assets/images/card.svg" alt="Carte">
          <span>Carte</span>
        </div>
      </li>
      <li>
        <div class="column">
          <img src="../../assets/images/operations.svg" alt="Operazioni">
          <span>Operazioni</span>
        </div>
      </li>
      <li>
        <div class="column">
          <img src="../../assets/images/talk-to-us.svg" alt="Parla con noi">
          <span>Parla con noi</span>
        </div>
      </li>
      <li>
        <div class="column">
          <img src="../../assets/images/three-dots.svg" alt="Altro">
          <span>Altro</span>
        </div>
      </li>
    </ul>
  </nav>
</div>

